.new-page {
    background-color: rgb(235, 243, 240);
    min-height: 100vh;
    min-width: 100vw;
}

.button-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}