.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80vh;
  width: 80vh;
  transform: translate(-50%, -50%);
  background-color : lightblue;
  padding: 20px;
  border-radius: 8px;
  margin: 20px; /* Add margin around the pop-up */
  z-index: 9999;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}