.node {
    width: 40px;
    height: 40px;
    background-color: white; /* Blue color */
    border-radius: 50%; /* Make it a circle */
    border-style: solid;
    border-width: 3.5px;
    border-color: black;
    position: absolute;
    cursor: move;
}